body {
    width: 100%;
    margin: 0px;
    padding: 0;
}
.headlines-container{
width: 1250px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-left: auto;
margin-right: auto;
background-color: black;
}
.headline-section{
width: 600px;
height: 700px;
background-color: rgb(235, 212, 212);
margin: 10px;
display: flex;
flex-direction: column;
justify-content: space-around
}
img{
 width: 600px;
 height: 400px;
}
.headline-title{
font-size: 20px;
}

#categoryContainer{
 width: 1250px;
 height: auto;
 margin-top: 10px;
 margin-left: auto;
 margin-right: auto;
 background-color: aqua;
}
.category-option{
width:208.33px;
height: 50px;
font-size: 24px;
background-color: brown;
}
.active{
    background-color: black;
}
