body {
    width: 100%;
    margin: 0px;
    padding: 0;
}
.headlines-container{
width: 1250px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-left: auto;
margin-right: auto;
}
.headline-section{
width: 600px;
height: 700px;
background-color: rgb(235, 212, 212);
margin: 10px;
display: flex;
flex-direction: column;
justify-content: space-around
}
img{
 width: 600px;
 height: 400px;
}
.headline-title{
font-size: 20px;
}